# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/

# Virtual Environment
myenv/

# Environment Variables
.env
.env.local

# Project Specific
chroma_db/
OUTPUT/
llm_data/
historic_files/
temp_transcript_*

# OS
.DS_Store
